
html, body{
    width: 100%;
    height: 100%;
}

body {
    background-color: #0d141a;
    font-family: Arial, Helvetica, sans-serif;
    color: #725AC1;
}

header{
    height: 30%;
    position: relative;
}


.cabecalho {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.menu-opcoes ul {
    justify-content: center;
    font-size: 18px;

}


.menu-opcoes {
    justify-content: center;
    margin-left: 25%;
    top: 1%;
    right: 50px;

}

.menu-opcoes a {
    color: blueviolet;
}

.menu-opcoes ul li {
    justify-content: center;
    display: inline;
    margin-left: 40px;
}


.button-link {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 10px 30px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 #725AC1;
}


.button-link:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }


.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #795b93;
    width: 290px;
    height: 350px;
    /* box-shadow: 10px 7px 0px #e0dddd; */
    margin-bottom: 25px;
    margin-left: 20px;
}

.title-project {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #725AC1;
    font-size: 35px;
    text-align: center;
    margin-block-end: 30px;
}

.wrapper-card {
    display: flex;
    justify-content: center;

}